
{% extends 'plataforma/base.html' %}
{% load humanize %}
{%block title%} Sua Carteira {%endblock%}
{% block carteira%}active{% endblock %}"
{%block content%} 

<div style="margin-top:0px; pading-top:0px;"> 
    <table class="table table-striped table table-hover" >
        <thead>
            <tr>
              {%if messages %}
              <ul class="messages">
                {% for messages in messages %}
                  <li{% if messages.tags == 'warning' %} class="alert alert-danger" {% endif %}>{{ messages }}</li>
                {% endfor %}
    
              </ul>
            {% endif %}    
                        
                <th scope="col">Simbolo</th>
                <th scope="col">Nome</th>                
                <th scope="col">Preco atual</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Remover da carteira</th>
            </tr>
        </thead>
        <tbody>
            {% if dataList %}
            {% for name, price,imagem, id , quantidade in dataList %}
            <tr>
              <td><img src="{{imagem}}" height="20px" alt="Coin Logo"></td>
                <td class="align-middle">{{name}}</td>
                <td class="align-middle">{{price}} Reais</td>     
                <td class="align-middle">{{quantidade}}</td>

                <td class="align-middle">
                  <a href="carteira/apagar/{{id}}"><button class="btn btn-danger">Remover</button></a>
                </td>
               
            </tr>
            {% endfor %}
            <ul class="messages">
              
                <li class="alert alert-success" ><h5>Parabéns! seu patrimonio atual {{ user.get_username }}  é de : {%if saldo > 9999 %}{{saldo|intword}}{%else%}{{saldo|intcomma}}{%endif%} de Reais  </h5></li>
             
  
            </ul>
            
            {% else %}
            <p>Nothing Here to show</p>
            {% endif %}
        </tbody>
    </table>
    </div>


    <div class= "container" >
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal " style="text-align: center;">
            Adicionar Moeda +
        </button>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" >Adicione Moeda a sua carteira</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1"  class="col-form-label">Nome da Moeda</label>
                      <input type="text" placeholder="bitcoin" class="form-control" name="nome_moeda" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1"  class="col-form-label">Simbolo</label>
                        <input type="text" placeholder="btc" class="form-control" name="simbolo_moeda" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="number_token"  class="col-form-label">Quantidade</label>
                        <input type="number" placeholder="0.0000001" step="0.0000001" class="form-control" name="quantidade_moeda" id="recipient-name">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success">Adicionar</button>
                      </div>
                  </form>
                </div>
                
              </div>
            </div>
        </div>
    </div>    
{%endblock%}